
.v2_2 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: relative;
    background-position: center;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    padding-top: 1%;
  }

.v2_3 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: relative;
    background-position: center;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    text-align: left;
    box-sizing: border-box;
  }

.v2_4 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: relative;
    background-position: center;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    box-sizing: border-box;
}

li {
    padding: 30px;
    text-align: left;
}
.v1_2 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}